.container {
    max-width: 600px; /* Establece el ancho máximo */
    margin: 0 auto; /* Centra el contenido horizontalmente */
    padding: 20px;
    text-align: center;
}

.filter-button-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los botones se envuelvan cuando no caben en una sola línea */
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 10px;
    margin-bottom: 20px;
}

.filter-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.filter-button.active {
    background-color: #e74c3c;
}

.category-grid {
    display: flex;
    flex-direction: column; /* Cambio a disposición de columna */
    align-items: center; /* Centra las categorías horizontalmente */
}

.category {
    width: 100%; /* Ancho del 100% para ocupar todo el espacio disponible */
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: left;
}

.command-list {
    list-style: none;
    padding: 0;
}

.command-list li {
    margin: 5px 0;
}
